<footer class="footer has-background-grey-lighter">
  <div class="content has-text-centered">
    <p>
      <strong>Wooden Window</strong> by the makers of <a href="https://jgthms.com">CoinSaver</a>.
    </p>
  </div>
  <div class="">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>Newsletter</strong>
              Stay in the loop!
          </p>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="email">
            </p>
            <p class="control">
              <button class="button is-primary">Submit</button>
            </p>
          </div>
        </div>
      </div>
    
      <div class="level-right">
        <p class="level-item"><strong>Browse by: </strong></p>
        <p class="level-item"><a>Companies</a></p>
        <p class="level-item"><a>Jobs</a></p>
        <p class="level-item"><a>Locations</a></p>
      </div>
    </nav>
    <div class="has-background-grey-lighter">
      <p class="has-text-centered"> &#169; 2020 Wooden Window - Team DAVE</p>
    </div>
  </div>
</footer>

