<section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-left">
        <div class="columns">
          <div class="column is-7">
            <p class="title">Wooden Window is the simplest tool used for job searches</p>
            <p class="subtitle">Create a profile and search pages of unless job openings nearby, or maybe even far away... It's up to you!</p>
          </div>
          <div class="column is-5">
            <article class="message">
              <div class="message-header">
                <p class="has-text-centered">Get started now!</p>
              </div>
              <div class="message-body">
                <h2 class="has-text-centered">We got the jobs, all you have to do is apply.</h2>
                <div class="field">
                  <div class="control">
                    <p>Search Jobs</p>
                    <input class="input is-primary" type="text" placeholder="Enter Job title or Keyword">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <p>Search by location</p>
                    <input class="input is-primary" type="text" placeholder="Enter Location">
                  </div>
                </div>
                <button class="button is-primary">Submit</button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <div class="level">
                <p class="level-item has-text-centered">
                    <img src="../../../assets/images/logo-verizon.svg" alt="Verizon" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="../../../assets/images/logo-home-depot.svg" alt="The Home Depot" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="../../../assets/images/logo-target.svg" alt="Target" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="../../../assets/images/logo-bank-of-america.svg" alt="Bank of America" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="../../../assets/images/logo-netflix.svg" alt="Netflix" class="logo">
                </p>
            </div>
            <div class="logo_subtext has-text-centered">Just a few of the many companies that depend on Wooden Window for hiring.</div>
        </div>
      </nav>
    </div>
  </section>

  <section class="hero has-background-grey-lighter">
    <div class="hero-body">
      <div class="container">
        <h1 class="has-text-centered">Let's Work Together</h1>
        <h3 class="has has-text-centered">At Wooden Window we are committed to helping you find a job as quickly as possible during these trying time. To learn more, feel free to visit our <a href=""> COVID-19</a> job search resources.</h3>
      </div>
    </div>
  </section>

  
  <section class="hero is-dark is-bold is-medium">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-two-fifths">
          <h1 class="title has-text-centered">Over 1 Million Jobs</h1>
          <p class="subtitle has-text-centered">With over a million job listings, Wooden Window is the only tool you will need to find your dream job.</p>
        </div>
        <div class="column is-1">
        </div>
            <div class="column auto has-text-right is-6">
                <img src="../../../assets/images/job-posting.png">
            </div>
      </div>
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title is-5 is-spaced has-text-centered">Top Rated Job Search</p>
            <p class="subtitle is-6 has-text-centered">Rated best job search service by Forbes, WallStreet Journal, and Bloomberg.</p>
            <div class="content has-text-centered">
              <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title is-5 is-spaced has-text-centered">Every Step of the Way</p>
            <p class="subtitle is-6 has-text-centered">Our team is here to provide you with resources that will allow you to land the job of your dreams.</p>
            <div class="content">
              <img src="">
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title is-5 is-spaced has-text-centered">Resume Builder</p>
            <p class="subtitle is-6 has-text-centered">We provide you with easy to use resume templates. All you have to do is enter in the information.</p>
            <div class="content">
              <img src="">
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-body">
      <div class="columns">
        <div class="column auto has-text-right is-6">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="../../../assets/images/John Doe.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>John Doe </strong> <small>@johndoe</small>
                    <br>
                    WoodenWindow helped me getback on my feet after losing my job and over 3 months ago. Thanks WoodenWindow!
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column is-1">
        </div>
        <div class="column is-two-fifths">
          <h1 class="title has-text-centered">Reviews</h1>
          <p class="subtitle has-text-centered">Don't listen to us, listen to those that trust us!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="hero has-background-grey-lighter">
    <div class="hero-body">
      <div class="container">
        <h1 class="has-text-centered">Are you an Employer?</h1>
        <h3 class="has has-text-centered">At Wooden Window we make it easy for employers to post their job openings and find the right employee(s).</h3>
      </div>
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="columns">
          <div class="column">
            <h1 class="title has-text-centered">Trending Jobs</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Virtual Assistant</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Welder</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Online Tutor</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Cannabis Grower</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Software Engineer</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Pharmacist</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Electrician</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Job Categories</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Technology</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Agriculture</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Education and Training</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hospitality and Tourism</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Information Technology</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Business Operations</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Arts and Entertainment</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Construction</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Trending Cities</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Houston</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Atlanta</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Austin</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Denver</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Nashville</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Chicago</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Las Vegas</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Salt Lake City</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Boston</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Trending Companies</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Costco</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Amazon</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Duke Energy</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hobby Lobby</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Lowe's</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Tyson Foods</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hershey</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Tesla</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </section>
